*{
    margin: 0 auto;
    padding: 0px;
}
#bgimg{
    height: 200px;
    width: 200px;
    background-image: url("1.jpg");
    background-size: cover;
    border: 2px solid green;
    position: fixed;
    right: 0px;
    color: azure;
    top: 50px;

}
#box1{
    height: 200px;
    width: 200px;
    background-color: rgb(40, 125, 151);
    border: 2px solid black;
    display: inline-block;

}
#box2{
    height: 200px;
    width: 200px;
    background-color: rgb(66, 151, 40);
    border: 2px solid black;
    display: inline-block;
    
}
#box3{
    height: 200px;
    width: 200px;
    background-color: rgb(151, 75, 40);
    border: 2px solid black;
    display: inline-block;
    
}
#box4{
    height: 200px;
    width: 200px;
    background-color: rgb(151, 40, 68);
    border: 2px solid black;
    display: inline-block;
    
}
#box5{
    height: 200px;
    width: 200px;
    background-color: rgb(151, 149, 40);
    border: 2px solid black;
    display: inline-block;
    
}

#hm{
    height: 500px;
    width: 100%;
    background-color: red;
}
#bye{
    height: 500px;
    width: 100%;
    background-color: rgb(0, 17, 255);
}