body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(180, 240, 227);
  }
  .container {
    max-width: 100%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid hsl(0, 12%, 13%);
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


  #fruits-list {
    margin-top: 20px;
  }
  
  .fruit {
    padding: 10px;
    border-bottom: 1px solid #ccc;
  }
  
  .fruit:last-child {
    border-bottom: none;
  }

  #search-input{
    width: 20%;
    height: 30px;
    border-radius: 10px;
    text-align: center;
    color: rgb(7, 6, 6);
  }

  button{

    height: 33px;
    border-radius: 5px;
    text-align: center;
    background-color: blueviolet;
    color: white;
  }
  button:hover{
    background-color: rgb(43, 183, 226);
    color: rgb(7, 6, 6);
  }
